@import url("http://fonts.cdnfonts.com/css/dot-matrix");
* {
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  width: 1440px;
  height: 3905px;
  background-color: black;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px 8px;
  gap: 925px;
  width: 1439.65px;
  position: absolute;
  height: 68px;
  left: 0.18px;
  right: 0.18px;
  top: 0px;
  font-family: "Dot Matrix", sans-serif;
}
.brand {
  height: 16px;
  width: 82.64543914794922px;
  left: 60px;
  top: 30px;
  border-radius: 0px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#brand-name {
  height: 16px;
  width: 82.64543914794922px;
  font-family: "Dot Matrix", sans-serif;
  border-radius: 0px;
  color: #ffffff;
  position: absolute;
}
.nav-links {
  left: 1067.6455078125px;
  top: 16px;
  border-radius: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 312px;
  height: 44px;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
#item-1-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;

  width: 112px;
  height: 44px;

  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#item-1 {
  width: 80px;
  height: 20px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: 0.04em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#item-2-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;

  width: 90px;
  height: 44px;

  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
#item-2 {
  width: 58px;
  height: 20px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: 0.04em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#item-3-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;

  width: 86px;
  height: 44px;

  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
#item-3 {
  width: 54px;
  height: 20px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: 0.04em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#frame-1-left {
  position: absolute;
  width: 302px;
  height: 36px;
  left: 193px;
  top: 239px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  /* identical to box height, or 36px */

  letter-spacing: 0.04em;

  color: #ffffff;
}

#frame-1-center {
  position: absolute;
  width: 282.13px;
  height: 564.85px;
  left: 579px;
  top: 239px;
}

.frame-1-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  position: absolute;
  width: 374px;
  height: 288px;
  left: 961px;
  top: 410px;
}
#frame-1-right-p-1 {
  width: 374px;
  height: 72px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  /* or 36px */

  letter-spacing: 0.04em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#frame-1-right-p-2 {
  width: 289px;
  height: 36px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  /* or 22px */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
#frame-1-right-p-3 {
  width: 373px;
  height: 44px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  /* or 22px */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
#frame-1-right-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 18px;
  gap: 10px;

  width: 138px;
  height: 46px;

  background: #ffffff;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

#frame-1-right-bottom-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 419px;
  height: 22px;
  left: 961px;
  top: 894px;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 56px 60px;
  gap: 64px;

  position: absolute;
  width: 1437px;
  height: 230px;
  left: 0px;
  top: 1067.85px;

  background: #ffffff;
}
.frame-2-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 396.33px;
  height: 118px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.frame-2-1 img {
  width: 240px;
  height: 54px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-2-1 p {
  width: 396.33px;
  height: 40px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  text-align: center;
  letter-spacing: 0.04em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frame-2-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 396.33px;
  height: 118px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.frame-2-2 img {
  width: 88px;
  height: 54px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-2-2 p {
  width: 396.33px;
  height: 40px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  text-align: center;
  letter-spacing: 0.04em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.frame-2-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 396.33px;
  height: 98px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.frame-2-3 img {
  width: 100.15px;
  height: 54px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-2-3 p {
  width: 396.33px;
  height: 20px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  text-align: center;
  letter-spacing: 0.04em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
frame-3-img-left img {
  position: absolute;
  width: 368px;
  height: 370.42px;
  left: 60px;
  top: 1474px;
}

/* frame-3 */
.frame-3-img-left {
  position: absolute;
  width: 368px;
  height: 370.42px;
  left: 60px;
  top: 1474px;
}
/* center*/

.frame-3-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 433px;
  height: 220px;
  left: 504px;
  top: 1549px;
}
.frame-3-center-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 433px;
  height: 126px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#p-upper {
  width: 285px;
  height: 36px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  /* identical to box height, or 36px */

  text-transform: uppercase;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#p-lower {
  width: 433px;
  height: 66px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  /* or 22px */

  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-3-center-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 18px;
  gap: 10px;

  width: 169px;
  height: 54px;

  background: #ffffff;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#frame-3-button {
  width: 102px;
  height: 30px;

  /* Button text 1 */

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  /* identical to box height, or 30px */

  letter-spacing: 0.04em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-3-img-right {
  position: absolute;
  width: 330.53px;
  height: 369px;
  left: 1040.47px;
  top: 1475px;
}
/* .ellipse {
  position: absolute;
  width: 336.65px;
  height: 306.92px;
  left: -7px;
  top: 10.49px;
  background: rgba(22, 31, 41, 0.56);
  filter: blur(126.789px);
} */
#img-left {
  position: absolute;
  width: 318.87px;
  height: 311.28px;
  left: -66.46px;
  top: -28.86px;
}
#img-right {
  position: absolute;
  width: 318.87px;
  height: 311.28px;
  left: 92.98px;
  top: 85.03px;
}

/*frame-4*/
.frame-4 {
  position: absolute;
  width: 1440px;
  height: 700px;
  left: 0px;
  top: 2055px;

  background: #ffffff;
}
.frame-4-left {
  position: absolute;
  width: 394.1px;
  height: 433.85px;
  left: 34px;
  top: 133px;
}

.frame-4-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 433px;
  height: 256px;
  left: 504px;
  top: 222px;
}
.frame-4-center-upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 433px;
  height: 162px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#frame-4-p-lower {
  width: 278px;
  height: 72px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  /* or 36px */

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#frame-4-p-upper {
  width: 433px;
  height: 66px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  /* or 22px */

  text-align: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#frame-4-right-img {
  position: absolute;
  width: 359.2px;
  height: 300.09px;
  left: 1008.1px;
  top: 200px;
}

.frame-5 {
  position: absolute;
  width: 1440px;
  height: 755px;
  left: 0px;
  top: 2755px;
  background: #eaedea;
}
#frame-5-left-img {
  position: absolute;
  width: 1019px;
  height: 644px;
  left: 3px;
  top: 111px;
}
.frame-5-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 357px;
  height: 136px;
  left: 1022px;
  top: 279px;
}
#frame-5-p-upper {
  width: 152px;
  height: 36px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  /* identical to box height, or 36px */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#frame-5-p-lower {
  width: 357px;
  height: 88px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  /* or 22px */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 60px;
  gap: 118px;

  position: absolute;
  width: 1440px;
  height: 396px;
  left: 0px;
  top: 3510px;

  background: #d9d9d9;
}

.frame-6-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 97px;

  width: 830px;
  height: 256px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-6-left-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 82px;
  height: 256px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-6-left-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 39px;

  width: 99px;
  height: 83px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.frame-6-left-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 154px;
  height: 184px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.frame-6-left-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 204px;
  height: 112px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.column-head {
  width: 63px;
  height: 24px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.column-item {
  height: 20px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  text-transform: uppercase;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-6-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 386px;
  height: 102px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#frame-6-right-p {
  width: 130px;
  height: 24px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-6-right-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;

  width: 386px;
  height: 46px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-6-input-box {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 265px;
  height: 46px;

  border: 1px solid #000000;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#frame-6-right-bottom-p {
  width: 118px;
  height: 20px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  color: #878787;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 1440px;
  height: 40px;
  left: 0px;
  bottom: 0px;
}
.frame-7-text-slide {
  box-sizing: border-box;

  width: 1440px;
  height: 40px;

  background: rgba(27, 27, 27, 0.8);
  border: 1px solid #ffffff;
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-7-inner-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 2298px;
  height: 20px;
  left: -858px;
  top: 10px;
}

#frame-7-p {
  width: 2298px;
  height: 20px;

  font-family: "Dot Matrix";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
